

@media only screen and (max-width: 991px) {
    .logo {
        display: block;
        margin: auto;
        padding: 0;
    }
    .logo img {

    }
    .main_text {
        display: block;
        width: 100%;
        margin: auto;
    }
    .main_text p{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .icon {
        display: block;
        margin: auto;
    }

}
